.container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  margin-top: 100px;
  width: 1000px;
}
.randomButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightskyblue;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.button-container {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  height: 200px;
  width: 500px;
  border: 1px solid grey;
  display: flex;
}
